* {
background: black;
margin: 0;
padding: 0;
}

body {
    width: 1000px;
    margin: 0 auto;
}

.container {
    padding: 0;
    margin: 0;
}

.color {
    color: white;
}

.link {
    text-decoration: none;
}

.step__h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.step__h2 {
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    color:rgb(28, 221, 255);
}

.step__h2:hover {
    color:rgb(117, 117, 117)
}

.step__p {
    font-size: 25px;
    text-align: center;
}

.step__a {
    text-align: center;
    margin-left: 48%;
}

.audio {
    margin:20px 350px;
}

@media(max-width:1000px) {
    body {
        width: 350px;
    }

    .step__h1 {
        font-size: 40px;
    }
    
    .step__h2 {
        font-size: 50px;
    }
    
    .step__p {
        font-size: 20px;
    }
    
    .audio {
        margin:20px 30px;
    }
}