* {
background: black;
margin: 0;
padding: 0;
max-width: 100%;
max-height: 100%;
}

body {
    width: 1000px;
    margin: 0 auto;
}

.container {
    padding: 0;
    margin: 0;
}

.color {
    color: white;
}

.link {
    text-decoration: none;
}

.step__h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.step__h2 {
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    color:rgb(28, 221, 255);
}

.step__h2:hover {
    color:rgb(117, 117, 117)
}

.step__p {
    font-size: 25px;
    text-align: center;
}

.step__a {
    text-align: center;
    margin-left: 48%;
}

.audio {
    margin:20px 350px;
}